@charset "UTF-8";
.artist-list{
	@include PC {
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}
}
.artist{
	margin-bottom: 30px;
	box-shadow: 0px 1px 2px #000;
  border-radius: 3px;
  overflow: hidden;
  @include PC {
  	width: 32%;
  }
	.artist-cap{
		height: 200px;
		img { 
			width: 100%; 
			height: 100%;
			object-fit: cover;
    	object-position: 0 0;
		}
	}
	.artist-body{
		padding: 15px 13px 20px 13px;
	}
	.artist-name{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 5px;
	}
}