@charset "UTF-8";
#eventView{
	@include PC {
		width: 600px;
		margin: 0 auto;
	}
	.pageKey--event{
		padding-top: calc(65 / 100 * 100%);
		position: relative;
		@include PC {
			padding-top: calc(65 / 110 * 100%);
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
    	height: 100%;
    	object-fit: cover;
		}
	}
	.mainMove{
		display: none;
		position: relative;
		padding-top: 56.25%;
		width: 100%;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
	}
	.serviceName{
		color: #fff;
		font-size: 13px;
	}
	.artistList{
		border-top: 1px solid #f0f0f0;
	}
	.artistList > li{
		border-bottom: 1px solid #f0f0f0;
	}
	.artistElm{
		display: block;
		position: relative;
		padding: 8px 8px 8px 8px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		text-decoration: none;
		color: #333;
	}
	.artistName{
	  word-break: break-word;
	  font-weight: 700;
	  font-size: 16px;
	  line-height: 1.4;
	  -webkit-line-clamp: 3!important;
	  height: 2.8em;
	  overflow: hidden;
	}
	.artisLabels{
		position: absolute;
		bottom: 8px;
	}
	.artisLabels li {
		color: #777777;
		font-size: 14px;
		display: inline-block;
		margin-right: 3px;
		&:last-child{margin-right: 0;}
	}
	.artistInfo{
		width: calc(100% - 110px);
		margin-right: 10px;
	}
	.artistCap{
		width: 100px;
		height: 65px;
	}
	.artistCap img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}

	//イベント画像が無い時
	.eventCapNone{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		border-bottom: 1px solid #f0f0f0;
		background-repeat: no-repeat;
		background-image: url(/img/event/event_cap_none_bg5.png);
		background-size: cover;
		&--1{background-image: url(/img/event/event_cap_none_bg1.png);}
		&--2{background-image: url(/img/event/event_cap_none_bg2.png);}
		&--3{background-image: url(/img/event/event_cap_none_bg3.png);}
		&--4{background-image: url(/img/event/event_cap_none_bg4.png);}
		&--5{background-image: url(/img/event/event_cap_none_bg5.png);}
		.eventCapNoneInner{
			@include cc;
			width: 100%;
			color: #fff;
		}
		.eventCapNoneTitle{
			font-size: 20px;
			margin: 0 10px;
			font-size: 22px;
		}
		.eventCapNoneDate{
			font-size: 18px;
		}
	}

	.eventInfo{
		padding: 10px;
		margin-bottom: 30px;
		&__date{
			font-weight: bold;
			font-size: 16px;
		}
		&__location{
			font-size: 16px;
			margin-bottom: 10px;
		}
		&__eventTitle{
			position: relative;
			font-size: 18px;
			font-weight: bold;
		}
	}
}