@charset "utf-8";
.myEvent{
	@include inner(935px);
}
.sortTab{
	margin-bottom: 30px;
	margin-left: 1%;
	li{
		display: inline-block;
		margin-right: 20px;
		a{
			padding-top: 10px;
			color: #999;
			font-weight: bold;
			&.active{
				color: $black;
				border-top: 1px solid $black;
			}
		}
	}
}
.eventList{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	> li{
		position: relative;
		width: 31.3%;
    margin: 0 1% 32px 1%;
    border-radius: 3px;
    // border: 1px solid #dadada;
    box-shadow: 0px 1px 4px #d0d0d0;
    padding: 15px 15px;
		a{ 
			display: block;
			color: $black;
		}
		.labelDate{
			display: block;
			margin-bottom: 5px;
		}
		.eventDelete{
			position: absolute;
	    top: 16px;
	    right: 16px;
	    background-color: #c3c3c3;
	    color: #fff;
	    z-index: 10;
	    font-size: 12px;
	    border-radius: 3px;
	    padding: 0 5px;
		}
		.eventListCap{
			position: relative;
			padding-top: calc(65 / 100 * 100%);	
			background-color: #8da1ad;
			margin-bottom: 10px;
			.artistsTotal{
				cursor: default;
				top: 5px;
				left: 5px;
				position: absolute;
				font-size: 11px;
				background-color: #fff;
				color: $black;
				padding: 1px 5px 0 5px;
				z-index: 20;
				&:hover{
					& + .artistsTotalList{
						opacity: 1;
					}
				}
			}
			.artistsTotalList{
				position: absolute;
				top: 25px;
				left: 5px;
				opacity: 0;
				background-color: #fff;
				font-size: 11px;
				width: 90%;
				z-index: 20;
				li{
					padding:2px 0;
					padding-left: 3px;
					border-bottom: 1px solid $gray;
				}
			}
			.eventListCapNote{
				@include cc;
				color: #fff;
				font-size: 18px;
				display: block;
				width: 100%;
			}
			img{
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit:cover;
				z-index: 10;
			}
		}
		.eventListTitle{
			font-size: 14px;
			margin-bottom: 10px;
			height: 46px;
		}
	}
}
.rocket{
	width: 30%;
	margin: 0 auto 30px auto;
	img{width: 100%;}
}




.statusArea {
	overflow: hidden;
	width: 72px;
	text-align: center;
	position: absolute;
  top: 15px;
  left: 139px;
  font-size: 12px;
}
.statusArea select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.statusArea select::-ms-expand {
   display: none;
}
.statusArea {
	border-radius: 2px;
  border-radius: 50px;
	background: #2BAC76;
	&.notOpen{
		background:#969696;
	}
}
.statusArea::before {
	position: absolute;
	top: 8px;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}
.statusArea select {
	padding: 1px 11px 1px 8px;
	color: #ffffff;
}