@charset "UTF-8";
$inner-content: 1000px;

$ff-default: "Helvetica","Arial",YuGothic,"Yu Gothic","Hiragino Sans","ヒラギノ角ゴシック","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

$blue: #3897f0;
$blue-sky: #c8e4ff;
$blue-dark:#5ba9f7;
$pink: #FF5C67;
$black: #262626;
$red:#ed4956;
$gray:#e6e6e6;

$btn-submit-color:#3897f0;
$event-action-color:#637c8a;
